{% extends "base.html" %}
{% block title %} End {% endblock %}
{% block content %}
<!-- <div id="fb-root"></div> -->
<!-- <script>(function(d, s, id) { -->
<!--   var js, fjs = d.getElementsByTagName(s)[0]; -->
<!--   if (d.getElementById(id)) return; -->
<!--   js = d.createElement(s); js.id = id; -->
<!--   js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1382784325310173"; -->
<!--   fjs.parentNode.insertBefore(js, fjs); -->
<!-- }(document, 'script', 'facebook-jssdk'));</script> -->

<!-- <div class="fb-post" data-href="https://www.facebook.com/FacebookDevelopers/posts/10151471074398553" data-width="500"> </div> -->

<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js"></script>
<script src="js/d3pie.min.js"></script>


<div class="container">
  <div class="row">
    <h3>  Revenue: {{revenue}} | Cost: {{cost}} | Profit: {{profit}} | Expected Profit: {{expected_profit}}</h3>
  </div>
    <div id="myPie"></div>
    <script>
     var data =  {{piechartObj|safe}};
     data["sortOrder"]= "value-desc";
     data["smallSegmentGrouping"] = {"enabled": true};
     var pie = new d3pie("myPie", {
       header: {
	 title: {
           text: "Profit By Category",
           fontSize: 16
	 }
       },
       tooltips: {
	 "enabled": true,
	 "type": "placeholder",
	 "string": "{label}: {value}, {percentage}%"
       },
       size: {
	 canvasHeight: 600,
	 canvasWidth:800,
	 pieInnerRadius: "18%",
	 pieOuterRadius: "96%"
       },
       labels : {
	 "outer": {
	   "hideWhenLessThanPercentage": 1,
	   "pieDistance": 8
	 },
	 "inner": {
	   "format": "value",
	   "hideWhenLessThanPercentage": 3
	 },
	 "mainLabel": {
	   "fontSize": 11
	 },
	 "percentage": {
	   "color": "#ffffff",
	   "decimalPlaces": 0
	 },
	 "value": {
	   "color": "#adadad",
	   "fontSize": 11
	 },
	 "lines": {
	   "enabled": true
	 }
       },
       data: data
     })
     $("#myPie svg").attr("class","center-block");
    </script>


  <div class="row">
    <table class="table">
      <tr>
	<th> Category </th>
	<th> Number of Items </th>
	<th> Number Unsold </th>
	<th> Number Sold </th>
	<!-- <th> Average Cost/Item </th> --> 
	<th> Total Cost</th>
	<th> Total Revenue</th>
	<th> Total Profit</th>
	<th> Expected Profit</th>
      </tr>
      {% autoescape false %}
      {{rows|safe}}
      {% endautoescape %}
    </table>
  </div>

</div>
{% endblock %}

